<html>
    <head>
        <link rel="stylesheet" href=noob.css>
        <title>
            Test site
        </title>
    </head>
    <body>
        <nav class=fields>
            <a href="Home">Home</a>
        </nav>
        <div class=creds align="center">
            <fieldset>
                <h2 align=center>Login page</h2>
                <pre>Username : <input type="text"><br></pre>
                <pre>Password : <input type="password"><br></pre>
                <pre>  E-mail : <input type=text><br></pre>
                <input type="submit">
            </fieldset>
        </div>
    </body>
</html>